@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #885164;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-left: 8px solid #26252e;
}

*::-webkit-scrollbar-thumb {
  background-color: #885164;
  height: 20px;
  border-left: 8px solid #26252e;
}
